<div class="panel" ng-controller="chatterboxCtrl" ng-show="showMessages" ng-init="fetchMessage()">

  <div class="panel-body chat-window" >
    <div style="height: 80%">
      <div ng-repeat="message in messageObj" style="margin: 10px 0;">
        <b>{{message.username}}</b>: {{message.text}}
      </div>
    </div>  

    <div class="input-field">
      <form>
        <input type="text" size="500" ng-model="text" style="width: 95%" autofocus /><br/>
        <button type="submit" ng-click="sendMessage()" style="visibility: hidden">Send Message</button>
      </form>
    <div>

  </div>

</div>