<!-- Toolbar --> 
<md-toolbar layout="row" class="toolbar md-whiteframe-z2 md-primary md-hue-3" ng-controller="registerLogInLogOut">
  <span class="toolbar-title">
    <h1> CrissCross </h1>
  </span>
  <span class="toolbar-group">
    <a href="#" class="toolbar-link" ng-click="showProfile()" ng-show="loggedIn">Profile</a>
    <a href="#" class="toolbar-link" ng-click="logOut()" ng-show="loggedIn">Logout</a>
  </span>
    <!-- <span>{{badLogin}}</span> -->
</md-toolbar>

<div flex layout="row" class="content-div">

  <!-- Sidenav Container (Container #3 )-->
  <md-sidenav layout="column" md-is-locked-open="true" class="sidenav md-whiteframe-z4">
    <md-subheader class="md-no-sticky" ng-controller="initializeMap">
      <md-tabs md-dynamic-height="" class="sidenav-tabs" md-stretch-tabs="always">
        <md-tab id="food-tab" md-on-select="queryByType('food')"><i class="fa fa-cutlery" aria-hidden="true"></i></md-tab>
        <md-tab id="coffee-tab" md-on-select="queryByType('coffee')"><i class="fa fa-coffee" aria-hidden="true"></i></md-tab>
        <md-tab id="drink-tab" md-on-select="queryByType('drinks')"><i class="fa fa-glass" aria-hidden="true"></i></md-tab>
      </md-tabs>
    </md-subheader>

    <md-list layout="column" ng-controller="initializeMap">
      <!-- Generate list item for each location result -->
      <md-list-item class="location-list" ng-repeat="location in foursquareLocations track by $index" ng-click="logName(location.venue.name)">
        <!-- <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon> -->
        <span class="location-name" layout-align="start">{{ location.venue.name }}</span>
        <span class="location-price" layout-align="end">{{ '$'.repeat(location.venue.price.tier || 1 )}}</span>
<!--         <br>
        {{ location.venue.hours.status || 'Contact for hours' }} -->
      </md-list-item>
    </md-list>

    <!-- Chat Bottom Sheet-->
    <div class="chat-sheet inset" layout="row" layout-sm="column" layout-align="center">
      
    </div>

    <script type="text/ng-template" id="chat-template.html">
      <md-bottom-sheet class="chat-sheet md-list md-has-header">
        <md-subheader ng-cloak>Chat</md-subheader>
      </md-bottom-sheet>
    </script>
  </md-sidenav>


  <!-- Map Container (Container #4) -->
  <md-content flex id="content">

    <div ng-controller="initializeMap" class="map-wrapper">
      <ng-map class="myMap" center="current-location" zoom="16" default-style="false">
        <!-- <directions
          draggable="false"
          panel="directions-panel"
          travel-mode="DRIVING"
          origin="944 Market Street, 8th floor, San Francisco, CA 94102"
          destination="Embarcadero Center, San Francisco, CA">
        </directions> -->

        <md-button flex="50" class="btn-chat-open md-primary md-raised" ng-controller="chatterboxCtrl" ng-click="showChat()">Chat</md-button>
        
        <shape id="circle" name="circle" centered="true" 
          center="{{avgLat}} {{avgLon}}"
          stroke-color='#8c00ff' stroke-opacity="0.5" stroke-weight="2"
          radius={{radius}} editable="true" >
        </shape>
        <directions suppress-markers="true"></directions>
        <div ng-repeat="(key, value) in userLocations" >
          <marker position="{{value.coordinates.latitude}}, {{value.coordinates.longitude}}"></marker>
          <custom-marker position="{{value.coordinates.latitude}}, {{value.coordinates.longitude}}">
            <p class="user-label">{{ value.username }}</p>
          </custom-marker>
        </div>
      </ng-map>
    </div>
  </md-content>

</div>

<!-- <div class="icon-message" ng-controller="registerLogInLogOut">
    <img ng-show="loggedIn" src="../images/icon-message.png" ng-click="showPartial()">
</div>  -->

<!-- <div class="panel" ng-controller="chatterboxCtrl" ng-show="showMessages" ng-init="fetchMessage()">

  <div class="panel-body chat-window" >
    <div style="height: 80%">
      <div ng-repeat="message in messageObj" style="margin: 10px 0;">
        <b>{{message.username}}</b>: {{message.text}}
      </div>
    </div>  
    
    <div class="chatCloseButton">
      <a href="" ng-click="hidePartial()">Close</a>
    </div>

    <div class="input-field">
      <form>
        <input type="text" size="500" ng-model="text" style="width: 95%" autofocus /><br/>
        <button type="submit" ng-click="sendMessage()" style="visibility: hidden">Send Message</button>
      </form>
    <div>

  </div>

</div> -->

<div ng-controller="watchCurrentUserLocation"></div>


    
