<div ng-controller="initializeMap">
  <!-- Toolbar --> 
  <md-toolbar layout="row" class="toolbar md-whiteframe-z2 md-primary md-hue-3" ng-controller="registerLogInLogOut">
    <span class="toolbar-title">
      <h1> CrissCross </h1>
    </span>
    <span class="toolbar-group">
      <a href="#" class="toolbar-link" ng-click="showProfile()" ng-show="loggedIn">Profile</a>
      <a href="#" class="toolbar-link" ng-click="logOut()" ng-show="loggedIn">Logout</a>
    </span>
  </md-toolbar>

  <div flex layout="row" class="content-div">

    <!-- Sidenav Container (Container #3 )-->
    <md-sidenav layout="column" md-is-locked-open="true" class="sidenav md-whiteframe-z4">
      <md-subheader class="md-no-sticky">
        <md-tabs md-dynamic-height="" class="sidenav-tabs" md-stretch-tabs="always">
          <md-tab id="food-tab" md-on-select="queryByType('food')"><i class="fa fa-cutlery" aria-hidden="true"></i></md-tab>
          <md-tab id="coffee-tab" md-on-select="queryByType('coffee')"><i class="fa fa-coffee" aria-hidden="true"></i></md-tab>
          <md-tab id="drink-tab" md-on-select="queryByType('drinks')"><i class="fa fa-glass" aria-hidden="true"></i></md-tab>
        </md-tabs>
      </md-subheader>

      <md-list layout="column">
        <!-- Generate list item for each location result -->
        <md-list-item class="location-list" ng-repeat="location in foursquareLocations track by $index" ng-click="logName(location.venue.name)">
          <!-- <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon> -->
          <span class="location-name" layout-align="start">{{ location.venue.name }}</span>
          <span class="location-price" layout-align="end">{{ '$'.repeat(location.venue.price.tier || 1 )}}</span>
  <!--         <br>
          {{ location.venue.hours.status || 'Contact for hours' }} -->
        </md-list-item>
      </md-list>

      <!-- Chat Bottom Sheet-->
      <script type="text/ng-template" id="chat-template.html">
        <md-bottom-sheet class="chat-sheet md-list md-has-header">

          <div class="panel" ng-controller="chatterboxCtrl" ng-show="showMessages" ng-init="fetchMessage()">
            <div ng-repeat="message in messageObj">
              <b>{{ message.username }}</b>: {{ message.text }}
            </div>
          </div>

          <input type="text" size="500" ng-model="text" style="width: 95%" autofocus class="chat-input"/>
          <br>
          <md-button type="submit" class="chat-button" ng-click="sendMessage()">Send</md-button>

        </md-bottom-sheet>
      </script>
    </md-sidenav>


    <!-- Map Container (Container #4) -->
    <md-content flex id="content">

      <div class="map-wrapper">
        <ng-map class="myMap" center="current-location" zoom="16" default-style="false">
          <shape id="circle" name="circle" centered="true" 
            center="{{avgLat}} {{avgLon}}"
            stroke-color='#8c00ff' stroke-opacity="0.5" stroke-weight="2"
            radius={{radius}} editable="true" on-center_changed="searchUpdate()" on-radius_changed="searchUpdate()">
          </shape>
          <directions suppress-markers="true"></directions>
          <div ng-repeat="(key, value) in userLocations" >
            <marker position="{{value.coordinates.latitude}}, {{value.coordinates.longitude}}"></marker>
            <custom-marker position="{{value.coordinates.latitude}}, {{value.coordinates.longitude}}">
              <p class="user-label">{{value.username}}</p>
            </custom-marker>
          </div>
        </ng-map>
      </div>
    </md-content>

  </div>
</div>

<div ng-controller="watchCurrentUserLocation"></div>


    
</div>