<!-- Toolbar --> 
<md-toolbar layout="row" class="md-whiteframe-z2 md-primary md-hue-3" ng-controller="registerLogInLogOut">
  <span class="title">
    <h1> CrissCross </h1>
  </span>
  <span class="menu-group">
    <a href="#" class="menu-link" ng-click="showProfile()" ng-show="loggedIn">Profile</a>
    <a href="#" class="menu-link" ng-click="logOut()" ng-show="loggedIn">Logout</a>
  </span>
    <!-- <span>{{badLogin}}</span> -->
</md-toolbar>

<div flex layout="row" class="content-div">

  <!-- Sidenav Container (Container #3 )-->
  <md-sidenav md-is-locked-open="true" class="md-whiteframe-z4">
    <md-list ng-controller="placesCtrl">

      <!-- List item #1 -->
<!--       <md-list-item >
        <md-button>
          Best Food Ever
        </md-button>
      </md-list-item> -->

      <!-- List item #2 -->
<!--       <md-list-item >
        <md-button>
          Also Great Food
        </md-button>
      </md-list-item> -->

      <!-- Generate list item for each location result -->
      <md-list-item ng-repeat="place in places">
        <md-button>
          <!-- <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon> -->
          {{place.venue.name}}
        </md-button>
      </md-list-item>

    </md-list>
  </md-sidenav>

  <!-- Map Container (Container #4) -->
  <md-content flex id="content">

    <div ng-controller="initializeMap" class="map-wrapper">
      <ng-map class="myMap" center="current-location" zoom="14" default-style="false">
        <shape id="circle" name="circle" centered="true" 
          center="{{avgLat}} {{avgLon}}"
          stroke-color='#8c00ff' stroke-opacity="0.5" stroke-weight="2"
          radius={{radius}} editable="true" >
        </shape>
        <div ng-repeat="location in foursquareLocations track by $index">
          <marker
            position="{{location.venue.location.lat}}, {{location.venue.location.lng}}"
            icon="{url:'/images/food.png', size:[30, 30], origin:[0, 0], anchor:[30, 30]}">
          </marker>
          <custom-marker key="location-{{$index}}" position="{{location.venue.location.lat}}, {{location.venue.location.lng}}">
            <p class="location-label">{{location.venue.name}}</p>
          </custom-marker>
        </div>
        <directions suppress-markers="true"></directions>
        <div ng-repeat="(key, value) in userLocations" >
          <marker position="{{value.coordinates.latitude}}, {{value.coordinates.longitude}}"></marker>
          <custom-marker position="{{value.coordinates.latitude}}, {{value.coordinates.longitude}}">
            <p class="user-label">{{value.username}}</p>
          </custom-marker>
        </div>
      </ng-map>
    </div>
  </md-content>

</div>

<!-- <div class="icon-message" ng-controller="registerLogInLogOut">
    <img ng-show="loggedIn" src="../images/icon-message.png" ng-click="showPartial()">
</div> 

<div class="panel" ng-controller="chatterboxCtrl" ng-show="showMessages" ng-init="fetchMessage()">

  <div class="panel-body chat-window" >
    <div style="height: 80%">
      <div ng-repeat="message in messageObj" style="margin: 10px 0;">
        <b>{{message.username}}</b>: {{message.text}}
      </div>
    </div>  
    
    <div class="chatCloseButton">
      <a href="" ng-click="hidePartial()">Close</a>
    </div>

    <div class="input-field">
      <form>
        <input type="text" size="500" ng-model="text" style="width: 95%" autofocus /><br/>
        <button type="submit" ng-click="sendMessage()" style="visibility: hidden">Send Message</button>
      </form>
    <div>

  </div>

</div> -->

<div ng-controller="watchCurrentUserLocation"></div>


    