.DS_Store
.AppleDouble
.LSOverride
iisnode.yml
npm-debug.log

db/shortly.sqlite
node_modules
bower_components
public/dist
lib/

server/client-cert.pem
server/client-key.pem
server/client.csr
client/scripts/services/factoryKeys.js
